In [1]:
import pandas as pd
import numpy as np
import os
from config import Config

# 出行链在空间上的分布数量（每天）

In [35]:
#出行链在空间上的分布数量（每天）
def chuxinglianByregion(date,region):
    list_chuxinglianByregion={}
    for t in date:
        list_region={}
        for r in region:
            paths=np.load('./data/PathList/900 40000/splitByregion/'+t+'/'+t+'_path_'+r+'.npy', allow_pickle=True)
            paths_num=len(paths)
            list_region[str(r)]=paths_num
        list_chuxinglianByregion[str(t)]=list_region
    return list_chuxinglianByregion

In [40]:
list_chuxinglianByregion=chuxinglianByregion(['1205','1206','1207','1208','1209','1210','1211'],
                         ['beibu','dongbu','futianA','futianB','luohu','nanshan','xibu','qita'])
pd_chuxinglianByregion=pd.DataFrame(list_chuxinglianByregion)
print(pd_chuxinglianByregion)

          1205   1206   1207   1208   1209   1210   1211
beibu    32674  29121  30153  30360  30844  26930  19696
dongbu   27393  21440  21445  21461  21766  15804  19805
futianA  13785  12447  12605  12894  13211  10723   7639
futianB  14438  12635  12805  12599  13009  10920   7570
luohu     8673   7370   7327   7562   7562   5965   3827
nanshan  16083  15029  15224  14436  14275  11654   7810
xibu     19616  16614  18084  18141  17403  16037  21761
qita         0      0      0      0      0      0      0

In [49]:
print(np.std(list(pd_chuxinglianByregion.loc['beibu'])[:5]))
print(np.mean(list(pd_chuxinglianByregion.loc['beibu'])[:5]))

1166.2968061346992
30630.4

# 出行链在行政区上的分布数量（每天）

In [105]:
#融合一个文件夹（例如：1205）下的所有出行链文件npy
def all_chuxinglian(filePath):
    chuxinglian = []
    filePathList = os.listdir(filePath)
    for allDir in filePathList:
            child = os.path.join('%s/%s' % (filePath, allDir))
            numpy_path = np.load(child, allow_pickle=True)
            chuxinglian=chuxinglian+list(numpy_path)
    return chuxinglian

In [123]:
# 出行链在行政区上的分布数量（每天）
def chuxinglianBydistrict(date,districtType):
    list_chuxinglianBydistrict={}
    kakou_location=pd.read_csv(open('./data/new_kakou_location_m_jiedao_qu.csv'))
    district_name=list(set(kakou_location[districtType]))
    for t in date:
        print(t)
        jiedian=pd.read_csv(open('./data/节点/'+t+'_jiedian.csv'))
        chuxinglian=all_chuxinglian(r'./data/PathList/900 40000/Nosplit/'+t)
        dict_chuxinglianBydistrict_oneday={}
        for district_n in district_name:
            dict_chuxinglianBydistrict_oneday[district_n]=0
        for p in chuxinglian:
            start_kid=jiedian.iloc[p[0]]['start_kid']
            name=kakou_location[kakou_location['k_id']==start_kid].iloc[0]['县']
            dict_chuxinglianBydistrict_oneday[name]=dict_chuxinglianBydistrict_oneday[name]+1

        list_chuxinglianBydistrict[str(t)]=dict_chuxinglianBydistrict_oneday
    return list_chuxinglianBydistrict

In [125]:
list_chuxinglianBydistrict=chuxinglianBydistrict(['1205','1206','1207','1208','1209','1210','1211'],'县')
pd_chuxinglianBydistrict=pd.DataFrame(list_chuxinglianBydistrict)
print(pd_chuxinglianBydistrict)

      1205   1206   1207   1208   1209   1210   1211
龙华区  10678   9180   9909  11061  10468   8311   5875
坪山区   5175   4025   4190   4158   4460   3518   3974
宝安区  15200  12453  13376  13270  13388  11884  18554
龙岗区  31765  26102  26436  25894  25959  20862  22114
盐田区   2816   2382   2302   2420   2141    981   1352
光明区   3095   3033   3645   3234   2686   3116   2424
南山区  18824  17511  17551  17147  17180  14081   9380
罗湖区  13499  11379  11491  11874  11928  10681   6975
福田区  31610  28591  28743  28395  29860  24599  17460

In [127]:
print(np.std(list(pd_chuxinglianBydistrict.loc['龙华区'])[:5]))
print(np.mean(list(pd_chuxinglianBydistrict.loc['龙华区'])[:5]))

655.6198288642588
10259.2

# 出行节点在空间上的分布数量（每天）

In [129]:
global_config = Config('./config.ini')
source_data_path = global_config.getRaw('设置条件', 'source_data_path')

xibu_zhongxin = global_config.getRaw('设置条件', 'xibu_zhongxin')
xibu_zhongxin = xibu_zhongxin.strip('[]').split(',')
nanshan_zhongxin = global_config.getRaw('设置条件', 'nanshan_zhongxin')
nanshan_zhongxin = nanshan_zhongxin.strip('[]').split(',')
futian_zhongxinA = global_config.getRaw('设置条件', 'futian_zhongxinA')
futian_zhongxinA = futian_zhongxinA.strip('[]').split(',')
futian_zhongxinB = global_config.getRaw('设置条件', 'futian_zhongxinB')
futian_zhongxinB = futian_zhongxinB.strip('[]').split(',')
luohu_zhongxin = global_config.getRaw('设置条件', 'luohu_zhongxin')
luohu_zhongxin = luohu_zhongxin.strip('[]').split(',')
beibu_zhongxin = global_config.getRaw('设置条件', 'beibu_zhongxin')
beibu_zhongxin = beibu_zhongxin.strip('[]').split(',')
dongbu_zhongxin = global_config.getRaw('设置条件', 'dongbu_zhongxin')
dongbu_zhongxin = dongbu_zhongxin.strip('[]').split(',')

In [156]:
# 出行节点在空间上的分布数量（每天）
def jiedianByregion(date):
    list_jiedianByregion={}
    kakou_location=pd.read_csv(open('./data/new_kakou_location_m_jiedao_qu.csv'))
    for t in date:
        print(t)
        jiedian=pd.read_csv(open('./data/节点/'+t+'_jiedian.csv'))
        list_region={'xibu':0,'nanshan':0,'futianA':0,'futianB':0,'luohu':0,'beibu':0,'dongbu':0,'qita':0,}
        
        for i in range(len(jiedian)):
            start_kid=jiedian.iloc[i]['start_kid']
            JDNAME=kakou_location[kakou_location['k_id']==start_kid].iloc[0]['JDNAME']
            if JDNAME in xibu_zhongxin:
                list_region['xibu']=list_region['xibu']+1
            elif JDNAME in nanshan_zhongxin:
                list_region['nanshan']=list_region['nanshan']+1
            elif JDNAME in futian_zhongxinA:
                list_region['futianA']=list_region['futianA']+1
            elif JDNAME in futian_zhongxinB:
                list_region['futianB']=list_region['futianB']+1
            elif JDNAME in luohu_zhongxin:
                list_region['luohu']=list_region['luohu']+1
            elif JDNAME in beibu_zhongxin:
                list_region['beibu']=list_region['beibu']+1
            elif JDNAME in dongbu_zhongxin:
                list_region['dongbu']=list_region['dongbu']+1
            else:
                list_region['qita']=list_region['qita']+1
        list_jiedianByregion[str(t)]=list_region
    return list_jiedianByregion

In [157]:
list_jiedianByregion=jiedianByregion(['1205','1206','1207','1208','1209','1210','1211'])
pd_jiedianByregion=pd.DataFrame(list_jiedianByregion)
print(pd_jiedianByregion)

1205
1206
1207
1208
1209
1210
1211
           1205    1206    1207    1208    1209    1210    1211
xibu     277808  220082  228133  226581  224060  198016  153783
nanshan  159520  140107  139124  141197  139629  116533  102617
futianA  130360  119128  119629  115550  119621   89529   79710
futianB  130123  121067  118003  123474  126347  104885   93553
luohu     90177   65810   73893   69270   68740   65005   62758
beibu    217838  188673  185249  184076  186782  163774  141199
dongbu   238115  190572  191923  191784  193171  178158  168633
qita         72      37      48      51      30      37      48

In [158]:
print(np.std(list(pd_jiedianByregion.loc['beibu'])[:5]))
print(np.mean(list(pd_jiedianByregion.loc['beibu'])[:5]))

12750.636762138587
192523.6

# 出行节点在行政区上的分布数量（每天）

In [147]:
# 出行节点在行政区上的分布数量（每天）
def jiedianBydistrict(date,districtType):
    list_jiedianBydistrict={}
    kakou_location=pd.read_csv(open('./data/new_kakou_location_m_jiedao_qu.csv'))
    district_name=list(set(kakou_location[districtType]))
    for t in date:
        jiedian=pd.read_csv(open('./data/节点/'+t+'_jiedian.csv'))
        dict_jiedianBydistrict_oneday={}
        for district_n in district_name:
            dict_jiedianBydistrict_oneday[district_n]=0
        for i in range(len(jiedian)):
            start_kid=jiedian.iloc[i]['start_kid']
            name=kakou_location[kakou_location['k_id']==start_kid].iloc[0][districtType]
            dict_jiedianBydistrict_oneday[name]=dict_jiedianBydistrict_oneday[name]+1
        list_jiedianBydistrict[str(t)]=dict_jiedianBydistrict_oneday
    return list_jiedianBydistrict

In [148]:
list_jiedianBydistrict=jiedianBydistrict(['1205','1206','1207','1208','1209','1210','1211'],'县')
pd_jiedianBydistrict=pd.DataFrame(list_jiedianBydistrict)
print(pd_jiedianBydistrict)

       1205    1206    1207    1208    1209    1210    1211
龙华区  144654  124604  124204  123557  127480  114184   93494
坪山区   40660   32611   32896   32197   33388   29377   28065
宝安区  198748  154684  159928  158919  156944  137872  108919
龙岗区  254370  206486  206816  205498  203505  184647  172968
盐田区   16002   13269   13634   13913   14126   13073   12874
光明区   46336   38558   39509   39105   38390   34976   24665
南山区  166809  146520  145910  148625  147431  122619  107957
罗湖区  149406  116696  124276  120152  120952  112164  105487
福田区  227028  212048  208829  210017  216164  167025  147872

In [149]:
print(np.std(list(pd_jiedianBydistrict.loc['龙华区'])[:5])) 
print(np.mean(list(pd_jiedianBydistrict.loc['龙华区'])[:5]))

7990.752114788695
128899.8

# 出行链的分布数量（每天）

In [150]:
print('1205:'+str(len(all_chuxinglian(r'./data/PathList/900 40000/Nosplit/1205'))))
print('1206:'+str(len(all_chuxinglian(r'./data/PathList/900 40000/Nosplit/1206'))))
print('1207:'+str(len(all_chuxinglian(r'./data/PathList/900 40000/Nosplit/1207'))))
print('1208:'+str(len(all_chuxinglian(r'./data/PathList/900 40000/Nosplit/1208'))))
print('1209:'+str(len(all_chuxinglian(r'./data/PathList/900 40000/Nosplit/1209'))))
print('1210:'+str(len(all_chuxinglian(r'./data/PathList/900 40000/Nosplit/1210'))))
print('1211:'+str(len(all_chuxinglian(r'./data/PathList/900 40000/Nosplit/1211'))))

1205:132662
1206:114656
1207:117643
1208:117453
1209:118070
1210:98033
1211:88108

# 出行节点的分布数量

In [151]:
print('1205:'+str(len(pd.read_csv(open('./data/节点/1205_jiedian.csv')))))
print('1206:'+str(len(pd.read_csv(open('./data/节点/1206_jiedian.csv')))))
print('1207:'+str(len(pd.read_csv(open('./data/节点/1207_jiedian.csv')))))
print('1208:'+str(len(pd.read_csv(open('./data/节点/1208_jiedian.csv')))))
print('1209:'+str(len(pd.read_csv(open('./data/节点/1209_jiedian.csv')))))
print('1210:'+str(len(pd.read_csv(open('./data/节点/1210_jiedian.csv')))))
print('1211:'+str(len(pd.read_csv(open('./data/节点/1211_jiedian.csv')))))

1205:1244013
1206:1045476
1207:1056002
1208:1051983
1209:1058380
1210:915937
1211:802301

In [162]:
#pd_chuxinglianByregion.to_csv('./data/土地释放/出行链在空间上的分布数量900_40000.csv')
#pd_chuxinglianBydistrict.to_csv('./data/土地释放/出行链在行政区上的分布数量900_40000.csv')
#pd_jiedianByregion.to_csv('./data/土地释放/出行节点在空间上的分布数量.csv')
#pd_jiedianBydistrict.to_csv('./data/土地释放/出行节点在行政区上的分布数量.csv')

In [2]:
pd_chuxinglianByregion=pd.read_csv('./data/土地释放/出行链在空间上的分布数量900_40000.csv',index_col=0)
pd_chuxinglianBydistrict=pd.read_csv('./data/土地释放/出行链在行政区上的分布数量900_40000.csv',index_col=0)
pd_jiedianByregion=pd.read_csv('./data/土地释放/出行节点在空间上的分布数量.csv',index_col=0)
pd_jiedianBydistrict=pd.read_csv('./data/土地释放/出行节点在行政区上的分布数量.csv',index_col=0)

In [3]:
#(pd_jiedianByregion-pd_chuxinglianByregion).to_csv('./data/土地释放/出行节点减去出行链在空间上的分布数量900_40000.csv')
#(pd_jiedianBydistrict-pd_chuxinglianBydistrict).to_csv('./data/土地释放/出行节点减去出行链在行政区上的分布数量900_40000.csv')

In [4]:
#释放的总面积（分空间）
(pd_jiedianByregion-pd_chuxinglianByregion)*3*15/1000000

              1205      1206      1207      1208      1209      1210      1211
beibu     8.332380  7.179840  6.979320  6.917220  7.017210  6.157980  5.467635
dongbu    9.482490  7.610940  7.671510  7.664535  7.713225  7.305930  6.697260
futianA   5.245875  4.800645  4.816080  4.619520  4.788450  3.546270  3.243195
futianB   5.205825  4.879440  4.733910  4.989375  5.100210  4.228425  3.869235
luohu     3.667680  2.629800  2.995470  2.776860  2.753010  2.656800  2.651895
nanshan   6.454665  5.628510  5.575500  5.704245  5.640930  4.719555  4.266315
qita      0.003240  0.001665  0.002160  0.002295  0.001350  0.001665  0.002160
xibu     11.618640  9.156060  9.452205  9.379800  9.299565  8.189055  5.940990

In [7]:
#释放的总面积（分行政区）
(pd_jiedianBydistrict-pd_chuxinglianBydistrict)*3*15/1000000

          1205      1206      1207      1208      1209      1210      1211
龙华区   6.028920  5.194080  5.143275  5.062320  5.265540  4.764285  3.942855
坪山区   1.596825  1.286370  1.291770  1.261755  1.301760  1.163655  1.084095
宝安区   8.259660  6.400395  6.594840  6.554205  6.460020  5.669460  4.066425
龙岗区  10.017225  8.117280  8.117100  8.082180  7.989570  7.370325  6.788430
盐田区   0.593370  0.489915  0.509940  0.517185  0.539325  0.544140  0.518490
光明区   1.945845  1.598625  1.613880  1.614195  1.606680  1.433700  1.000845
南山区   6.659325  5.805405  5.776155  5.916510  5.861295  4.884210  4.435965
罗湖区   6.115815  4.739265  5.075325  4.872510  4.906080  4.566735  4.433040
福田区   8.793810  8.255565  8.103870  8.172990  8.383680  6.409170  5.868540

In [13]:
#分空间的车辆减少数量（工作日中位数）
median_region=(pd_jiedianByregion-pd_chuxinglianByregion).iloc[:,:5].median(axis=1)

In [14]:
#分空间的车辆减少数量（工作日平均数）
mean_region=(pd_jiedianByregion-pd_chuxinglianByregion).iloc[:,:5].mean(axis=1)

In [20]:
#median_region乘上停车位供给系数（0.5-3）
median_region_coefficient=pd.DataFrame()
median_region_coefficient['系数0.5']=median_region*0.5
median_region_coefficient['系数1']=median_region*1
median_region_coefficient['系数1.5']=median_region*1.5
median_region_coefficient['系数2']=median_region*2
median_region_coefficient['系数2.5']=median_region*2.5
median_region_coefficient['系数3']=median_region*3
pd.concat([median_region,median_region_coefficient],axis=1).rename(columns={0:'车辆减少数量'})

           车辆减少数量     系数0.5       系数1     系数1.5       系数2     系数2.5       系数3
beibu    155938.0   77969.0  155938.0  233907.0  311876.0  389845.0  467814.0
dongbu   170478.0   85239.0  170478.0  255717.0  340956.0  426195.0  511434.0
futianA  106681.0   53340.5  106681.0  160021.5  213362.0  266702.5  320043.0
futianB  110875.0   55437.5  110875.0  166312.5  221750.0  277187.5  332625.0
luohu     61708.0   30854.0   61708.0   92562.0  123416.0  154270.0  185124.0
nanshan  125354.0   62677.0  125354.0  188031.0  250708.0  313385.0  376062.0
qita         48.0      24.0      48.0      72.0      96.0     120.0     144.0
xibu     208440.0  104220.0  208440.0  312660.0  416880.0  521100.0  625320.0

In [21]:
#mean_region乘上停车位供给系数（0.5-3）
mean_region_coefficient=pd.DataFrame()
mean_region_coefficient['系数0.5']=mean_region*0.5
mean_region_coefficient['系数1']=mean_region*1
mean_region_coefficient['系数1.5']=mean_region*1.5
mean_region_coefficient['系数2']=mean_region*2
mean_region_coefficient['系数2.5']=mean_region*2.5
mean_region_coefficient['系数3']=mean_region*3
pd.concat([mean_region,mean_region_coefficient],axis=1).rename(columns={0:'车辆减少数量'})

           车辆减少数量     系数0.5       系数1     系数1.5       系数2     系数2.5       系数3
beibu    161893.2   80946.6  161893.2  242839.8  323786.4  404733.0  485679.6
dongbu   178412.0   89206.0  178412.0  267618.0  356824.0  446030.0  535236.0
futianA  107869.2   53934.6  107869.2  161803.8  215738.4  269673.0  323607.6
futianB  110705.6   55352.8  110705.6  166058.4  221411.2  276764.0  332116.8
luohu     65879.2   32939.6   65879.2   98818.8  131758.4  164698.0  197637.6
nanshan  128906.0   64453.0  128906.0  193359.0  257812.0  322265.0  386718.0
qita         47.6      23.8      47.6      71.4      95.2     119.0     142.8
xibu     217361.2  108680.6  217361.2  326041.8  434722.4  543403.0  652083.6

In [27]:
#分空间的车辆减少数量（非工作日中位数）
median_region_fei=(pd_jiedianByregion-pd_chuxinglianByregion).iloc[:,5:].median(axis=1)
#分空间的车辆减少数量（非工作日平均数）
mean_region_fei=(pd_jiedianByregion-pd_chuxinglianByregion).iloc[:,5:].mean(axis=1)

In [34]:
(pd_jiedianByregion-pd_chuxinglianByregion).iloc[:,5:].mean(axis=1)

beibu      129173.5
dongbu     155591.0
futianA     75438.5
futianB     89974.0
luohu       58985.5
nanshan     99843.0
qita           42.5
xibu       157000.5
dtype: float64

In [28]:
#median_region_fei乘上停车位供给系数（0.5-3）
median_region_fei_coefficient=pd.DataFrame()
median_region_fei_coefficient['系数0.5']=median_region_fei*0.5
median_region_fei_coefficient['系数1']=median_region_fei*1
median_region_fei_coefficient['系数1.5']=median_region_fei*1.5
median_region_fei_coefficient['系数2']=median_region_fei*2
median_region_fei_coefficient['系数2.5']=median_region_fei*2.5
median_region_fei_coefficient['系数3']=median_region_fei*3
pd.concat([median_region_fei,median_region_fei_coefficient],axis=1).rename(columns={0:'车辆减少数量'})

,车辆减少数量,系数0.5,系数1,系数1.5,系数2,系数2.5,系数3
beibu,129173.5,64586.75,129173.5,193760.25,258347.0,322933.75,387520.5
dongbu,155591.0,77795.50,155591.0,233386.50,311182.0,388977.50,466773.0
futianA,75438.5,37719.25,75438.5,113157.75,150877.0,188596.25,226315.5
futianB,89974.0,44987.00,89974.0,134961.00,179948.0,224935.00,269922.0
luohu,58985.5,29492.75,58985.5,88478.25,117971.0,147463.75,176956.5
nanshan,99843.0,49921.50,99843.0,149764.50,199686.0,249607.50,299529.0
qita,42.5,21.25,42.5,63.75,85.0,106.25,127.5
xibu,157000.5,78500.25,157000.5,235500.75,314001.0,392501.25,471001.5

In [29]:
#mean_region_fei乘上停车位供给系数（0.5-3）  因为只有两天，平均数与中位数一样。
mean_region_fei_coefficient=pd.DataFrame()
mean_region_fei_coefficient['系数0.5']=mean_region_fei*0.5
mean_region_fei_coefficient['系数1']=mean_region_fei*1
mean_region_fei_coefficient['系数1.5']=mean_region_fei*1.5
mean_region_fei_coefficient['系数2']=mean_region_fei*2
mean_region_fei_coefficient['系数2.5']=mean_region_fei*2.5
mean_region_fei_coefficient['系数3']=mean_region_fei*3
pd.concat([mean_region_fei,mean_region_fei_coefficient],axis=1).rename(columns={0:'车辆减少数量'})

,车辆减少数量,系数0.5,系数1,系数1.5,系数2,系数2.5,系数3
beibu,129173.5,64586.75,129173.5,193760.25,258347.0,322933.75,387520.5
dongbu,155591.0,77795.50,155591.0,233386.50,311182.0,388977.50,466773.0
futianA,75438.5,37719.25,75438.5,113157.75,150877.0,188596.25,226315.5
futianB,89974.0,44987.00,89974.0,134961.00,179948.0,224935.00,269922.0
luohu,58985.5,29492.75,58985.5,88478.25,117971.0,147463.75,176956.5
nanshan,99843.0,49921.50,99843.0,149764.50,199686.0,249607.50,299529.0
qita,42.5,21.25,42.5,63.75,85.0,106.25,127.5
xibu,157000.5,78500.25,157000.5,235500.75,314001.0,392501.25,471001.5

In [48]:
#减少后的车辆数（工作日平均数）
pd_chuxinglianByregion.iloc[:,:5].mean(axis=1)

beibu      30630.4
dongbu     22701.0
futianA    12988.4
futianB    13097.2
luohu       7698.8
nanshan    15009.4
xibu       17971.6
qita           0.0
dtype: float64

In [49]:
#减少后的车辆数（工作日中位数）
pd_chuxinglianByregion.iloc[:,:5].median(axis=1)

beibu      30360.0
dongbu     21461.0
futianA    12894.0
futianB    12805.0
luohu       7562.0
nanshan    15029.0
xibu       18084.0
qita           0.0
dtype: float64

In [50]:
#减少后的车辆数（非工作日平均数）
pd_chuxinglianByregion.iloc[:,5:].mean(axis=1)

beibu      23313.0
dongbu     17804.5
futianA     9181.0
futianB     9245.0
luohu       4896.0
nanshan     9732.0
xibu       18899.0
qita           0.0
dtype: float64

In [51]:
#减少后的车辆数（非工作日中位数）
pd_chuxinglianByregion.iloc[:,5:].median(axis=1)

beibu      23313.0
dongbu     17804.5
futianA     9181.0
futianB     9245.0
luohu       4896.0
nanshan     9732.0
xibu       18899.0
qita           0.0
dtype: float64